@import './styles/fonts.css';
@import './styles/typography.css';
@import './styles/button.css';
@import './styles/gnb.css';
@import './styles/explore.css';
@import './styles/my-page.css';
@import './components/Category/category.css';
@import './components/ProjectsHeader/projects-header.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-pretendard);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
